<!DOCTYPE html>
<html>
<head>
  <title>Colorboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

<%= render 'layouts/header' %>

<div class="main-div">
  <%= yield %>
</div>

<%= render 'layouts/footer' %>

</body>
</html>
